{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}

<script type="x/template" id="vue-single-item">
    <div>
        <slot name="default" :getDataField="getDataField" :getFilteredDataField="getFilteredDataField">
            <div class="single container-max page-content">
                <div class="row mt-5 position-relative">

                    <div class="col-12 col-md-7" id="item-container">
                        <slot name="image-carousel"></slot>
                    </div>

                    <div class="col-12 col-md-5">
                        <div>
                            {% include "CeresCoconut::Item.Components.SingleItem.SingleItem_Details" %}
                            {% include "CeresCoconut::Item.Components.SingleItem.SingleItem_InformationTable" %}
                        </div>
                    </div>

                </div>

                <slot name="item-list-container"></slot>
                <slot name="feedback-container"></slot>
            </div>
        </slot>
    </div>
</script>

<section class="productlisting container">
   {{ LayoutContainer.show("Ceres::Homepage.Container3") }}
</section>

{% set isMyCategory = false %}
{% for category in item.documents[0].data.defaultCategories if category.id < 22 %}
    {% set isMyCategory = true %}
{% endfor %}

{% if isMyCategory %}
<div class="singleview-addon">
   <div class="singleview-addon-box">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_01').style.display=='none'){ document.getElementById('ruckeli_detail_01').style.display='block'; } else {document.getElementById('ruckeli_detail_01').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_1.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_01" style="display:none;" class="singleview-text">
         <h4>BAUCHTRAGEWEISE</h4>
         <p>Besonders geeignet für den geborgenen Start ins Leben oder den schlaf zwischendurch.</p>
      </div>
   </div>
   <div class="singleview-addon-box float-right">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_02').style.display=='none'){ document.getElementById('ruckeli_detail_02').style.display='block'; } else {document.getElementById('ruckeli_detail_02').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_2.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_02" style="display:none;" class="singleview-text">
         <h4>RÜCKENTRAGEWEISE</h4>
         <p>Besonders geeignet für schwerere Kinder und für Längere Wanderungen.</p>
      </div>
   </div>
   <div class="singleview-addon-box">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_03').style.display=='none'){ document.getElementById('ruckeli_detail_03').style.display='block'; } else {document.getElementById('ruckeli_detail_03').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_3.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_03" style="display:none;" class="singleview-text">
         <h4>TRAGEN AUF DEM HÜFTSITZ</h4>
         <p>Besonders geeignet für das kurze Trage zwischendurch.</p>
      </div>
   </div>
   <div class="singleview-addon-box float-right">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_04').style.display=='none'){ document.getElementById('ruckeli_detail_04').style.display='block'; } else {document.getElementById('ruckeli_detail_04').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_4.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_04" style="display:none;" class="singleview-text">
         <h4>HÜFTTRAGEWEISE</h4>
         <p>Besonders geeignet wenn die Kleinen mehr sehen wollen.</p>
      </div>
   </div>
   <div class="singleview-addon-box">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_05').style.display=='none'){ document.getElementById('ruckeli_detail_05').style.display='block'; } else {document.getElementById('ruckeli_detail_05').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_5.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_05" style="display:none;" class="singleview-text">
         <h4>STEGBREITE</h4>
         <p>--in 5 Stufen von 13 - 34 cm an die wachsende Beinlänge des Kindes anpassbar<br>
            --unterstützt die ergonomische Anhock-Spreizhaltung
         </p>
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single-addon-img01a.jpg" alt="">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single-addon-img01b.jpg" alt="">
      </div>
   </div>
   <div class="singleview-addon-box float-right">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_06').style.display=='none'){ document.getElementById('ruckeli_detail_06').style.display='block'; } else {document.getElementById('ruckeli_detail_06').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_6.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_06" style="display:none;" class="singleview-text">
         <h4>RÜCKENLÄNGE</h4>
         <p>--Stufenlos verstellbare 26 - 43 cm<br>
            --lässt sich einfach einstellen, auch wenn dein 
            Kind schon in der Trage sitzt
         </p>
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single-addon-img02a.jpg" alt="">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single-addon-img02b.jpg" alt="">
      </div>
   </div>
   <div class="singleview-addon-box">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_07').style.display=='none'){ document.getElementById('ruckeli_detail_07').style.display='block'; } else {document.getElementById('ruckeli_detail_07').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_7.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_07" style="display:none;" class="singleview-text">
         <h4>TASCHE AM HÜFTGURT</h4>
         <p>--zum einfachen verstauen von Kleinigkeiten wärend des Tragens<br>
            --zum verstauen der Ganzen Trage in sich selbst
         </p>
      </div>
   </div>
   <div class="singleview-addon-box">
      <div class="singleview-image" onclick="if(document.getElementById('ruckeli_detail_08').style.display=='none'){ document.getElementById('ruckeli_detail_08').style.display='block'; } else {document.getElementById('ruckeli_detail_08').style.display='none'; }">
         <img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/single_addon_8.jpg" alt="Ruckeli">
      </div>
      <div id="ruckeli_detail_08" style="display:none;" class="singleview-text">
         <h4>SCHULTERGURTE</h4>
         <p>--2 Gurtverläufe möglich
            --Überkreuz-Verlauf für entlastung beim Tragen vorm Bauch<br>
            --Paralel-Verlauf für ein bequemes Tragen auf dem Rücken<br>
            --breit geschnitten für eine optimale Verteilung des Gewichts<br>
            --weich gepolstert und an die Körperform angepasst<br>
            --besonders flach geschnitten, für ein angenehmes Tragen unter einer Jacke oder 
         </p>
      </div>
   </div>
   <div style="clear:both;height:0"></div>
</div>
{% else %}
ACCESSOIRES
{% endif %}
