<script type="x/template" id="vue-variation-select">
        <div v-if="attributes.length || Object.keys(units).length" class="row">
            <div class="col-12 variation-select" v-for="attribute in attributes">
            
                <div v-else-if="attribute.type === 'box' || attribute.type === 'image'">
                    <span class="text-muted">${ attribute.name }:</span> <b>${ getSelectedAttributeValueName(attribute) }</b>
                    <div class="v-s-boxes" :class="{ 'images': attribute.type === 'image' }">
                        <div class="v-s-box empty-option"
                            v-if="hasEmptyOption"
                            @click="selectAttribute(attribute.attributeId, null)"
                            :class="{ 'active': selectedAttributes[attribute.attributeId] === null, 'invalid': !isAttributeSelectionValid(attribute.attributeId, null) }">
                            <span class="mx-3">{{ trans("Ceres::Template.singleItemPleaseSelect") }}</span>
                        </div>

                        <div class="v-s-box"
                            v-for="value in attribute.values"
                            @click="selectAttribute(attribute.attributeId, value.attributeValueId)"
                            :class="{ 'active': value.attributeValueId === selectedAttributes[attribute.attributeId], 'invalid': !isAttributeSelectionValid(attribute.attributeId, value.attributeValueId) }"
                            v-tooltip="!isAttributeSelectionValid(attribute.attributeId, value.attributeValueId)" data-html="true" data-toggle="tooltip" data-placement="top" :data-original-title="getInvalidOptionTooltip(attribute.attributeId, value.attributeValueId)">
                            <span class="mx-3" v-if="attribute.type === 'box'">${ value.name }</span>
                            <img v-ie-objectfit-polyfill="'contain'" class="p-1" v-else :src="value.imageUrl" :alt="value.name">
                        </div>
                    </div>
                </div>

            </div>
        
        </div>
</script>
