@charset "utf-8";
/* CSS Document */
h1,h2,h3,h4,h5 {
	text-transform: uppercase;
}
.btn {
    border: 1px solid #333;
    border-radius: 6px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1em;
}
.boxes .btn {
	width: 90%;
}
a {
    color: #333;
    text-decoration: none;
}
footer ul,
header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    height: 230px;
    background-color: #fff;
    font-size: 18px;
	position: relative;
	border-bottom: 1px solid #eee;
}
header ul li {
    float: left;
	margin-left: 23px;
}
header ul li:first-child a {
    color: #999;
}
.footer-linklist,
.footer-copyright {
    border-top: 1px solid #eee;
}
.footer-copyright {
    font-weight: 300;
}
h2 {
    font-size: 2.6em;
}
h3 {
    margin: 0 0 23px;
    font-size: 1.7rem;
}
p {
	font-weight: 300;
}
footer {
	margin-top: 66px;
}
footer ul li a {
    color: #999;
	font-size: 18px;
	line-height: 32px;
}
footer ul li a::before {
    content: "» ";
	padding-right: 4px; 
}
footer span {
    color: #ccc;
}
footer .footer-copyright {
	line-height: 75px;
	height: 75px;
}
footer .footer-linklist {
	padding: 33px 15px;
}
footer ul {
    float: left;
    width:33%;
}
footer .right {
    text-align: right;
    float: right;
}
.container {
    margin: 0 auto;
	position: relative;
	padding-left: 0;
    padding-right: 0;
}
.slideshow {
    margin: 0 0 77px;
}
.slideshow img {
	width: 100%;
}
.header-logo {
    text-align: center;
    padding-top: 55px;
}
.header-basket {
    position: absolute;
    right: 0;
    top: 55px;
}
.text,
.boxes {
	border-top: 1px solid #eee;
	padding-top: 66px;
	margin-top: 54px;
}
.text h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 11px 0 23px 0;
	color: #999;
}
.boxes {
    margin-top: 0;
}
.boxes div {
    float: left;
    width: 33.3%;
    padding: 0 2%;
}
.boxes p {
    font-size: 0.9em;
    line-height: 1.6em;
    color: #999;
    font-weight: 400;
}
.homepage-title {
	text-transform: uppercase;
	font-size: 2em;
}
.productlisting .section-header h2,
.productlisting p.h3 {
	text-align: center;
    font-size: 1.8em;
	margin: 55px 0 77px;
	text-transform: uppercase;
}
.list-controls,
.text-muted,
.special-tags,
.thumb-inner .add-to-basket-lg-container,
.thumb-background,
.owl-carousel .carousel-control,
.owl-carousel .owl-dots,
.add-to-basket-container .quantity-input-container,
.add-to-basket-container button.btn.btn-block.btn-primary i,
.span.price.h1 .sup,
.single.container-max.page-content .owl-single-item.owl-thumbs,
.popover.bs-popover-auto.d-none {
	display: none;
}
.owl-carousel .owl-item:nth-child(4n+0) {
	margin-right: 0!important;
}
.productlisting .thumb-content a {
	text-transform: uppercase;
}
.productlisting .cmp-product-thumb .price {
    text-align: center;
    width: 100%;
	display: none;
	-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
	position: absolute;
	margin-top: 10px;
}
.productlisting .cmp-product-thumb:hover .price {
	display: block;
}
.productlisting article.cmp-product-thumb {
    padding: 17px 0 50px;
	-webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}
.productlisting article.cmp-product-thumb:hover {
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}
.container-max.cookie-bar__wrapper{
    max-width: 100%;
    border-top: 1px solid #eee;
	font-size: 0.8em;
}
.productlisting.variation-basic .cmp-product-thumb .thumb-content a::before {
	content: "Basic";
	text-transform: uppercase;
	color: #999;
	font-size: 0.7em;
	display: block;
	line-height: 1;
}
.productlisting.variation-limited .cmp-product-thumb .thumb-content a::before {
	content: "Limited Edition";
	text-transform: uppercase;
	color: #999;
	font-size: 0.7em;
	display: block;
	line-height: 1;
}
.productlisting .owl-stage-outer.owl-height {
	height: auto!important;
}
.productlisting .owl-stage-outer.owl-height .owl-stage {
	width: 100%!important;
}


/* Singleview Addon */

.singleview-addon {
	width: 1180px;
	margin: 0 auto 33px;
	border-top: 1px solid #eee;
    padding-top: 66px;

}
.singleview-addon:hover .singleview-addon-row {
	opacity: 0.4;
}
.singleview-addon:hover .singleview-addon-row:hover {
	opacity: 1;
}
.singleview-addon-row {
	position: relative;
	margin-bottom: 15px;
	height: 590px;
}
.singleview-addon-left,
.singleview-addon-right {
	width: 50%;
	}
.singleview-addon-right .singleview-image {
	text-align: right;
}
.singleview-addon-left {
	float: left;
	}
.singleview-addon-right {
	float: right;
	}
.singleview-text {
	height: 590px;
	display: none;
	background: #fff;
	position: absolute;
	top: 0;
	width: 44%;
	padding: 3%;
	width: 50%;
}
.singleview-addon-left:hover .singleview-text,
.singleview-addon-right:hover .singleview-text {
	display: block;
}
.singleview-addon-left:hover .singleview-text {
	right: 0;
}
.singleview-addon-right:hover .singleview-text {
	left: 0;
}
.add-to-basket-container button.btn.btn-primary {
    border-radius: 0;
    border: 0;
    background: #999999;
    color: #fff;
}
.single-rightside .input-unit,
.custom-select {
    border: 0;
    margin: 0;
	padding: 0;
}
.vat-shipping {
    text-transform: uppercase;
    font-size: 0.7em;
}
.vat-shipping .vat,
.vat-shipping .shipping {
    display: block;
    margin: 0;
    line-height: 1.5em;
}
.vat-shipping .vat {
	color: #999;
}
.vat-shipping .shipping {
	margin-top: 4px;
}
.single .nav-tabs .nav-item .nav-link,
.single .nav-tabs .nav-item .nav-link.active,
.single .nav-tabs .nav-item .nav-link:hover {
	border: 0;
	padding: 0;
    padding: 7px 13px 7px 0;
	text-transform: uppercase;
}
p.single-description {
    font-size: 0.7em;
    line-height: 1.6em;
    margin-bottom: 33px;
    font-weight: 400;
}
.tab-content ul {
    margin: 0;
    padding: 25px 0 0 25px;
}
.single-rightside .variation-select {
    padding: 0;
}
.availability_1, .availability_2 {
    background-color: transparent;
    color: #58a74f;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    margin: 4px 0 23px 0;
    display: block;
}
.col-md-5.single-rightside.m-t-1 {
    margin-top: 4rem!important;
}
.single.container-max.page-content .row.m-t-3 {
	margin-top: 0!important;
}
.tab-content {
    font-size: 0.8em;
    line-height: 1.6em;
}
.custom-select option {
    width: 133px;
    display: inline-block;
    padding: 11px 17px;
    text-transform: uppercase;
    margin-right: 10px;
	font-size: 0.7em;
	border: 1px solid #ccc;
}

input, textarea, select, a { 
	outline: none !important;
}
.custom-select option:active,
.custom-select option:focus,
.custom-select option:checked {
    background: #f00 !important;
}
.single-rightside .custom-select {
	background: none;
	height: 48px;
}
.single-rightside .m-y-1,
.single-rightside .m-b-1,
.single-rightside .m-y-3 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
	width: 100%;
}
.single-rightside .add-to-basket-container {
    margin-top: 9px;
}
.variation-select label {
    font-weight: 400;
    color: #999;
    letter-spacing: 0;
    font-size: 0.8em;
    padding: 0;
    position: relative;
    width: auto;
}
span.variationtype {
    text-transform: uppercase;
    color: #999;
}
h1.h2.title span {
    text-transform: uppercase;
}
span.price.h1 {
    font-size: 1.4em;
    font-weight: 400;
    margin-top: 44px;
}
span.availability.tag.availability_1 {
    background: #fff;
    color: #58a74f;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
	padding: 0;
	margin: 13px 0 27px;
}
.add-to-basket-container button.btn.btn-block.btn-primary {
	
}
.login a.btn.btn-primary.btn-block.m-b-1

/* Slideshow */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.slideshow ul {
    list-style: none;
    padding: 0;
}

/* CERES OVERRIDE */

.section-header {
    background: #fff;
    padding: 0;
}
.section-header h2 {
    color: #111;
    font-size: 24px;
}
.productlisting .thumb-content a {
    text-align: center;
}
body>#vue-app, 
body>#vue-error {
	background: #fff;
}
.page-content {
    padding-top: 0;
    background-color: #fff;
}
.cmp-product-thumb .thumb-content {
    font-size: 24px;
}
.clear {
	clear: both;
	height: 0;
}
.single-rightside {
    left: auto!important;
    right: 0;
}
select.custom-select{
    overflow: hidden;
}
