@media screen and (min-width: 1280px) {

}
@media screen and (max-width: 1280px) {

}
@media screen and (min-width: 1024px) {

}
@media screen and (max-width: 1024px) {
	.slideshow img {
		width: 200%;
		position: relative;
		margin-left: -20%;
	}
	.slideshow ul {
		margin: 0;
	}
	.boxes div,
	footer ul {
		float: none;
		width: 100%;
		padding: 0;
	}
	.boxes div {
		margin-top: 44px;
	}
	.header-basket {
		position: static;
		top: inherit;
		right: inherit;
		margin-top: 14px;
	}
	.slideshow {
    	margin: 0;
	}
	.text, 
	.boxes {
		padding-top: 33px;
	}
	.footer-linklist ul li a {
		border-top: 1px dotted #ddd;
		padding: 6px 0;
		display: block;
	}
	.footer-linklist ul.third {
		border-bottom: 1px dotted #ddd;
	}
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
	footer .footer-linklist {
		padding: 33px 0;
	}
	.container,
	.singleview-addon,
	.singleview-addon .singleview-image img {
		width: 100%;
	}
	.singleview-addon-row {
		height: auto;
	}
	.header-logo {
		padding-top: 35px;
	}
}
@media screen and (min-width: 768px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (min-width: 480px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (min-width: 320px) {

}
@media screen and (max-width: 320px) {

}
