<header>
	<div class="container">
    	<div class="header-logo">
    		<a href="/"><img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/logo-head-ruckeli.jpg" alt="Ruckeli"></a>
    	</div>
    	<div class="header-basket">
      		<ul>
    			<li><a href="/login">H&auml;ndler-Login</a></li>
        		<li><a v-toggle-basket-preview href="#" class="toggle-basket-preview"><span><img src="https://cdn02.plentymarkets.com/pftlrybf7t3i/frontend/icon-basket.jpg" alt="Einkaufstasche"> Einkaufstasche</span> (<span class="badge-right" v-basket-item-quantity="$store.state.basket.data.itemQuantity">0</span>)</a></li>
      		</ul>
    	</div>
    </div>
</header>
